
<select [(ngModel)]="sel" class="form-control form-control-lg">
  <option>All</option>
  <option value="male">Male</option>
  <option value="female">Female</option>

</select>
<table class="table table-dark ">
  <tr>
    <th (click)="sort($event)">Name</th>
    <th (click)="sort($event)">Surename</th>
    <th (click)="sort($event)">Image</th>
    <th (click)="sort($event)">Age</th>
    <th (click)="sort($event)">Gender</th>
  </tr>
  <tr *ngFor="let u of users |filter:sel|sort:sortBy">
    <td>{{u.name.first}}</td>
    <td>{{u.name.last}}</td>
    <td><img [src]="u.picture.large" style="width: 100px;height: 100px;" ></td>
    <td>{{u.dob.age}}</td>
    <td>{{u.gender}}</td>

  </tr>
</table>